<a href="https://colab.research.google.com/github/niranjana1997/Twitter-Topic-Classification/blob/main/Twitter_Topic_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Installing tweepy

!pip install tweepy --quiet

In [2]:
# Impoerting the code.py which contains the Twitter API tokens
%run code.py
!rm code.py

ERROR:root:File `'code.py'` not found.

rm: cannot remove 'code.py': No such file or directory

In [3]:
import tweepy
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import re

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

##### Getting Data using Twitter API

In [4]:
# # Authenticate to Twitter
# auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
# auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)

# # API object is created
# api = tweepy.API(auth, wait_on_rate_limit=True)

# # Tweets are collected using API object

# tweets = tweepy.Cursor(api.search, q="american football", lang="en", tweet_mode='extended').items(2500)

# # list of data from 'tweets' are created
# tweet_data = [[tweet.id, tweet.created_at, tweet.full_text] for tweet in tweets]

# # Converting list to DataFrame
# tweets_df = pd.DataFrame(tweet_data, columns=["id", "created_at", "text"])

# # converting dataframe to save csv
# tweets_df.to_csv("american football.csv", index=False)

#### Data Pre-Processing

In [16]:
tweets_df = pd.read_csv("american football.csv")

In [27]:
import pandas as pd
import nltk
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

# mentions, hashtags, URLs are removed
tweets_df['text'] = tweets_df['text'].apply(lambda x: re.sub(r'@\w+|#\w+|http\S+', '', x))

# non-alpha numeric values are removed
tweets_df['text'] = tweets_df['text'].apply(lambda x: re.sub(r'[^\w\s]', '', x))

# text is converted to lopwercase
tweets_df['text'] = tweets_df['text'].str.lower()

# tokenisation
tweets_df['tokens'] = tweets_df['text'].apply(lambda x: nltk.word_tokenize(x))

# stopwords are removed
stopwords = nltk.corpus.stopwords.words('english')
tweets_df['tokens'] = tweets_df['tokens'].apply(lambda x: [word for word in x if word not in stopwords])

# ['american', 'football'] are removed manualluy from tokens
tweets_df['tokens'] = tweets_df['tokens'].apply(lambda x: [word for word in x if word not in ['american', 'football']])

# Lemmatization
lemmatizer = WordNetLemmatizer()
tweets_df['tokens'] = tweets_df['tokens'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

# tokens are joined
tweets_df['processed_text'] = tweets_df['tokens'].apply(lambda x: ' '.join(x))

# duplicate columns are removed
tweets_df = tweets_df.drop_duplicates(subset='processed_text')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [28]:
tweets_df

,id,created_at,text,tokens,processed_text
0,1631386809975316497,2023-03-02 20:11:39,furthermore the sounders and atlanta united ...,"[furthermore, sounder, atlanta, united, stripe...",furthermore sounder atlanta united stripe logo...
1,1631386057613664256,2023-03-02 20:08:40,rt actually fuck off their taking the piss no...,"[rt, actually, fuck, taking, piss, fan, want, ...",rt actually fuck taking piss fan want successf...
2,1631385869151244293,2023-03-02 20:07:55,rt the chargers franchise began it all in the...,"[rt, charger, franchise, began, league, 1960, ...",rt charger franchise began league 1960 name in...
3,1631385741879025667,2023-03-02 20:07:25,rt the wyoming black 14 were american footbal...,"[rt, wyoming, black, 14, player, university, w...",rt wyoming black 14 player university wyoming ...
4,1631385643434516480,2023-03-02 20:07:01,dealer foxing\nhow to friend love freefall ...,"[dealer, foxing, friend, love, freefall, rainb...",dealer foxing friend love freefall rainbow kit...
...,...,...,...,...,...
2486,1630388152861958147,2023-02-28 02:03:21,or when soccer fans call american football h...,"[soccer, fan, call, handegg]",soccer fan call handegg
2489,1630387425842286592,2023-02-28 02:00:28,skill issue mine was at an american football ...,"[skill, issue, mine, game, play, back, high, s...",skill issue mine game play back high school go...
2494,1630385964420923400,2023-02-28 01:54:39,rt for the month of february we will be recog...,"[rt, month, february, recognizing, outstanding...",rt month february recognizing outstanding afri...
2497,1630385730945003523,2023-02-28 01:53:44,we dont need much we just need enough a taxi ...,"[dont, need, much, need, enough, taxi, driver,...",dont need much need enough taxi driver said li...
2499,1630384976444178432,2023-02-28 01:50:44,once again i am not american dont really ca...,"[dont, really, care, constitution, lockdown, c...",dont really care constitution lockdown country...

In [26]:
tweets_df.to_csv('cleaned_data.csv', index=False)